# Factorial

In [9]:
def factorial(n):
    fact=1
    for i in range(1, n+1):
        fact *=i
    return fact
factorial(3)

6

In [14]:
def func( name, age=35, city='newyork'):
    print("name: ", name)
    print("age: ", age)
    print("city: ", city)
func( "jane", city= "Seattle")

name:  jane
age:  35
city:  Seattle

In [15]:
func( "jane")

name:  jane
age:  35
city:  newyork

In [17]:
# Important note for unlimited arguments( Use this step)

def var_func(*args):
    print(args)
var_func(1,3,"abc")

(1, 3, 'abc')

In [22]:
#Lambda Function, its a kind of storing variable

f= lambda x:"even" if x % 2== 0 else "odd"
f(6)

'even'

In [26]:
# u may see that 3 is misiing from this list

i = 0
while i < 6:
  i =i + 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [27]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [28]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [29]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [30]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [31]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

# Functional

In [34]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

In [35]:
def my_function(fname):
  print(fname + " Roshan")

my_function("rajesh")
my_function("rakesh")
my_function("hrithik")

rajesh Roshan
rakesh Roshan
hrithik Roshan

In [36]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

In [39]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [40]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [41]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

In [42]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [43]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [44]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [46]:
#LAMMBDA Function

x = lambda a : a + 10
print(x(5))

15

In [47]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [48]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [49]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

In [50]:
def myfunc(n):
  return lambda a : a * n

mytripler = myfunc(3)

print(mytripler(11))

33

In [51]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33