# For loop and while loop, ELIF, ELSE

In [10]:
x = 0
a = 0
b = -5
if a > 0:
    if b < 0: 
        x = x + 5 
    elif a > 5:
        x = x + 4
    else:
        x = x + 3
else:
    x = x + 2
print(x)

2

In [11]:
x = 0
a = 5
b = 5
if a > 0:
    if b < 0: 
        x = x + 5 
    elif a > 5:
        x = x + 4
    else:
        x = x + 3
else:
    x = x + 2
print(x)

3

In [15]:
for num in range(-2,-5,-1):
    print(num, end=", ")

-2, -3, -4,

In [16]:
for l in 'Jhon':
   if l == 'o':
      pass
   print(l, end=", ")

J, h, o, n,

In [17]:
numbers = [10, 20]
items = ["Chair", "Table"]

for x in numbers:
  for y in items:
    print(x, y)

10 Chair
10 Table
20 Chair
20 Table

In [18]:
var = 10
for i in range(10):
    for j in range(2, 10, 1):
        if var % 2 == 0:
            continue
            var += 1
    var+=1
else:
    var+=1
print(var)

21

In [19]:
for num in range(10, 14):
   for i in range(2, num):
       if num%i == 1:
          print(num)
          break

10
11
12
13

In [20]:
x = 0
while (x < 100):
  x+=2
print(x)

100

In [21]:
a, b = 12, 5
if a + b:
    print('True')
else:
  print('False')

True

In [22]:
x = 0
for i in range(10):
  for j in range(-1, -10, -1):
    x += 1
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90

In [23]:
for num in range(2,-5,-1):
    print(num, end=", ")

2, 1, 0, -1, -2, -3, -4,

In [24]:
for i in range(1, 5):
    print(i)
else:
    print("this is else block statement" )

1
2
3
4
this is else block statement

In [25]:
def calculate (num1, num2=4):
  res = num1 * num2
  print(res)

calculate(5, 6)

30

In [26]:
str = "pynative"
print (str[1:3])

yn

In [27]:
listOne = [20, 40, 60, 80]
listTwo = [20, 40, 60, 80]

print(listOne == listTwo)
print(listOne is listTwo)

True
False

In [28]:
for i in range(10, 15, 1):
  print( i, end=', ')

10, 11, 12, 13, 14,

In [29]:
valueOne = 5 ** 2
valueTwo = 5 ** 3

print(valueOne)
print(valueTwo)

25
125

In [32]:
salary = 8000

def printSalary():
  salary = 12000
  print("Salary:", salary)
  
printSalary()
print("Salary:", salary)

Salary: 12000
Salary: 8000

In [33]:
var = "James" * 2  * 3
print(var)

JamesJamesJamesJamesJamesJames

In [34]:
p, q, r = 10, 20 ,30
print(p, q, r)

10 20 30

# While loop

In [7]:
pin=input( 'enter your four digit pin:')

while pin != '1234' :
    pin= input('Invalid input, please try again:')
    
print('pin validation successful.')

enter your four digit pin:768
Invalid input, please try again:000
Invalid input, please try again:3251
Invalid input, please try again:1254
Invalid input, please try again:1234
pin validation successful.